In [1]:
#!python -m pip install --upgrade pip

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

In [4]:
class Database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="db_rumah_sakit"
        
        )
        my_cursor = my_db.cursor()
        
    def __del__(self):
        my_db.commit()

In [5]:
class data_pasien(Database):
    
    def tampil_data_pasien(self, mode="DESC"):
        sql = "SELECT * FROM data_pasien ORDER BY id_pasien {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e:
            return e
        
        return result
    
    def insert_data_pasien(self, data):
        sql = "INSERT INTO data_pasien (nama_pasien, alamat_pasien, tanggal_lahir) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")    
        except Exception as e:
            return e
        return my_cursor.lastrowid
    
    def insert_data_pasien_many(self, data):
        
        sql = "INSERT INTO data_pasien (nama_pasien, alamat_pasien, tanggal_lahir) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")    
        except Exception as e:
            return e
        
    def delete_data_pasien(self, id):
        sql = "DELETE FROM data_pasien WHERE id_pasien = {}".format(id)
        
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "record deleted.")
        except Exception as e:
            return e
        
    def update_data_pasien(self, id, data):
        sql = "UPDATE data_pasien SET nama_pasien = %s, alamat_pasien = %s, tanggal_lahir = %s WHERE id_pasien = {}".format(id)
        
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "record update.")  
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql = "TRUNCATE TABLE data_pasien"
        try:
            my_cursor.execute(sql)
            my-db.commit()
        except Exception as e:
            return e
        
        return True

In [6]:
db = Database()
pk = data_pasien()
data = [("Gabriel Leoxyrus","Jl kenanga mawar",240806),("Alex Abesamis","Jl melati putih",180303),("Mikhael Bright","Jl kenangan mantan",290700)]

pk.insert_data_pasien_many(data)

print(pk.tampil_data_pasien())

3 record inserted.
[(77, 'Mikhael Bright', 'Jl kenangan mantan', None), (76, 'Alex Abesamis', 'Jl melati putih', datetime.date(2018, 3, 3)), (75, 'Gabriel Leoxyrus', 'Jl kenanga mawar', datetime.date(2024, 8, 6)), (3, 'Mikael Bright', 'Jl kenangan mantan', datetime.date(2024, 8, 6)), (2, 'Alex Abesamis', 'Jl melati putih', datetime.date(2018, 3, 3)), (1, 'Gabriel Leoxyrus', 'Jl kenanga mawar', datetime.date(2024, 8, 6))]

In [7]:
data = ("Alex Abesamis", "jl melati putih", 180303)
pk.insert_data_pasien(data)

1 record inserted.

78

In [9]:
pk.update_data_pasien(77, ('Mikael Bright', 'Jl kenangan mantan', 240806))

1 record update.

In [10]:
pk.delete_data_pasien(77)

1 record deleted.

In [11]:
pk.delete_data_pasien(76)

1 record deleted.

In [12]:
pk.delete_data_pasien(75)

1 record deleted.

In [13]:
pk.delete_data_pasien(78)

1 record deleted.

In [14]:
pk.tampil_data_pasien()

[(3, 'Mikael Bright', 'Jl kenangan mantan', datetime.date(2024, 8, 6)),
 (2, 'Alex Abesamis', 'Jl melati putih', datetime.date(2018, 3, 3)),
 (1, 'Gabriel Leoxyrus', 'Jl kenanga mawar', datetime.date(2024, 8, 6))]

In [15]:
class data_dokter(Database):
    
    def tampil_data_dokter(self, mode="DESC"):
        sql = "SELECT * FROM data_dokter ORDER BY id_pasien {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e:
            return e
        
        return result
    
    def insert_data_dokter(self, data):
        sql = "INSERT INTO data_dokter (nama_dokter, alamat_dokter, id_pasien) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")    
        except Exception as e:
            return e
        return my_cursor.lastrowid
    
    def insert_data_dokter_many(self, data):
        
        sql = "INSERT INTO data_dokter (nama_dokter, alamat_dokter, id_pasien) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")    
        except Exception as e:
            return e
        
    def delete_data_dokter(self, id):
        sql = "DELETE FROM data_dokter WHERE id_pasien = {}".format(id)
        
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "record deleted.")
        except Exception as e:
            return e
        
    def update_data_dokter(self, id, data):
        sql = "UPDATE data_dokter SET nama_dokter = %s, alamat_dokter = %s, id_pasien = %s WHERE id_pasien = {}".format(id)
        
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "record update.")  
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql = "TRUNCATE TABLE data_dokter"
        try:
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e
        
        return True

In [16]:
db = Database
dk = data_dokter()
data = [
    ("Ica Pucaya","Jl gamonin dia",1),
    ("Aranza Natlan","Jl kapal karam",2),
    ("Ambar Brisia","Jl kapal hantu",3)
]

dk.insert_data_dokter_many(data)

print(dk.tampil_data_dokter())

3 record inserted.
[(108, 'Ambar Brisia', 'Jl kapal hantu', 3), (112, 'Ambar Brisia', 'Jl kapal hantu', 3), (116, 'Ambar Brisia', 'Jl kapal hantu', 3), (115, 'Aranza Natlan', 'Jl kapal karam', 2), (114, 'Ica Pucaya', 'Jl gamonin dia', 1)]

In [17]:
data = ("Ica Pucaya", "Jl gamonin dia", 1)
dk.insert_data_dokter(data)

1 record inserted.

117

In [38]:
dk.update_data_dokter(1, ('Chika Pucaya', 'Jl gamonin dia', 1))

0 record update.

In [23]:
dk.delete_data_dokter(3)

3 record deleted.

In [24]:
dk.tampil_data_dokter()

[(115, 'Aranza Natlan', 'Jl kapal karam', 2),
 (114, 'Ica Pucaya', 'Jl gamonin dia', 1),
 (117, 'Ica Pucaya', 'Jl gamonin dia', 1)]

In [25]:
class obat_penyakit(Database):
    
    def tampil_obat_penyakit(self, mode="DESC"):
        sql = "SELECT * FROM obat_penyakit ORDER BY id_pasien {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e:
            return e
        
        return result
    
    def insert_obat_penyakit(self, data):
        sql = "INSERT INTO obat_penyakit (nama_obat, harga_obat, id_pasien) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")    
        except Exception as e:
            return e
        return my_cursor.lastrowid
    
    def insert_obat_penyakit_many(self, data):
        
        sql = "INSERT INTO obat_penyakit (nama_obat, harga_obat, id_pasien) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")    
        except Exception as e:
            return e
        
    def delete_obat_penyakit(self, id):
        sql = "DELETE FROM obat_penyakit WHERE id_pasien = {}".format(id)
        
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "record deleted.")
        except Exception as e:
            return e
        
    def update_obat_penyakit(self, id, data):
        sql = "UPDATE obat_penyakit SET nama_obat = %s, harga_obat = %s, id_pasien = %s WHERE id_pasien = {}".format(id)
        
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "record update.")  
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql = "TRUNCATE TABLE obat_penyakit"
        try:
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e
        
        return True

In [28]:
db = Database
op = obat_penyakit()
data = [
    ("mylanta",7000,1),
    ("promag",22500,2),
    ("sangobion",13500,3)
]

ok.insert_obat_penyakit_many(data)

print(ok.tampil_obat_penyakit())

3 record inserted.
[(27, 'sangobion', 13500, 3), (31, 'sangobion', 13500, 3), (34, 'sangobion', 13500, 3), (26, 'promag', 22500, 2), (30, 'promag', 22500, 2), (33, 'promag', 22500, 2), (29, 'mylanta', 7000, 1), (32, 'mylanta', 7000, 1)]

In [29]:
data = ("mylanta", 7000, 1)
op.insert_obat_penyakit(data)

1 record inserted.

35

In [37]:
op.update_obat_penyakit(2, ('promag cair', 22500, 2))

3 record update.

In [39]:
op.delete_obat_penyakit(2)

3 record deleted.

In [40]:
op.tampil_obat_penyakit()

[(27, 'sangobion', 13500, 3),
 (31, 'sangobion', 13500, 3),
 (34, 'sangobion', 13500, 3),
 (29, 'mylanta cair', 7000, 1),
 (32, 'mylanta cair', 7000, 1),
 (35, 'mylanta cair', 7000, 1)]